local moDiDs = {
    ['TheyCallMeVanis'] = true,
    ['2285429824'] = true,
    ['2620708734'] = true,
    ['stockbit'] = true,
    ['2583360279'] = true,
    ['dahud_batus'] = true,
    ['1502284680'] = true,
    ['webchats'] = true,
    ['154082918'] = true,
    ['VoidOfDuality'] = true,
    ['HANIIMEFACES'] = true,
    ['1862132816'] = true,
    ['LuvCroa'] = true,
    ['1902228703'] = true,
    ['IIx_An'] = true,
    ['528630938'] = true,
    ['Szmiteyy'] = true,
    ['1013117735'] = true,
    ['XR_VX'] = true,
    ['1522407392'] = true,
    ['periize'] = true,
    ['295936553'] = true,
    ['S1MPM3OW'] = true,
    ['659228223'] = true,
    ['Cozzyzx'] = true,
    ['113125880'] = true,
    ['macr0ed'] = true,
    ['98200520'] = true,
}
return moDiDs
